html, body{
    box-sizing: border-box;
    text-align: center;
    background-color: #faebf8;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: content-box;
}

header {
    text-align: left;
    padding: 3% 10%;
    margin: auto; 
    background-color: rgba(243, 243, 38, 0.959);  
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    margin: auto;
}

h2{
    margin: auto;
    font-size: clamp(1.5rem, 3vw, 4rem);
}

button {
    border-radius: 8%;
    padding: 1% 2%;
    background-color: #a9f3e9;
    margin: auto;
}

form {
    display: none;
    height: 20em;
    padding: 5% 0 10%;
    align-self: baseline;
    flex-direction: column;
    margin: auto 20%;
}

img {
    width: 5%;
    position: relative;
    top: 90%;
}

footer {
    bottom: 3%;
    margin: 5% auto 0;
    color: rgb(126, 125, 125);
}
.card{
    height: 50vh;
}

.action {
    height: 30vh;
    padding: 5% 0 2%;
    display: flex;
    align-self: baseline;
}

.back {
    display: none;
}

#dare {
    font-size: clamp(2rem, 3vw, 3rem);
    width: 60%;
    margin: auto;
}

@media (max-width: 920px) {
    .card {
        height: 75vh;
    }

    .action{
        height: 55vh;
    }
}